@{
    WebSecurity.RequireAuthenticatedUser();
        
    Page.Title = "Post Delete";
    var model = new Model();
    var post = model.GetPost(UrlData[0].AsInt());
    bool deleted = false;
    
    if(post == null) {
        Response.Redirect("~/index");
        return;
    }    
    
    if(IsPost) {
        deleted = model.DeletePost(post.id);
    }
}

    
@if(deleted) {
    <h2>Post Deleted</h2>
    <p><strong>@post.Title</strong> has been deleted.  Click <a href="@Href("~/index")">here</a> to return to the home page.</p>
} else {
    <h2>Delete Post</h2>
    <form action="@Href("~/delete", post.id)" method="post">
        <p>Are you sure you want to delete the following post?</p>
        <blockquote>
            <p>
                @RenderPage("~/Templates/_PostTemplate.cshtml", post)
            </p>
        </blockquote>
        <p>
            <span><input class="button" type="submit" value="Delete Post" /></span> | 
            <span><input class="button" type="button" value="Cancel" onclick="location.href='@Href("~/index")'" /></span>
        </p>
    </form>
}